/**
 * Layout
 */
#backdrop {
    width:100%;
    height:300px;
}
#title {
    text-align:center;
    padding-top:50px;
}
/**
 * Style
 */
#backdrop {
    background: url("images.jpg") no-repeat center center;
    background-size: contain;
}
#title {
    color: black;
}