---
layout: default
title: Tag Archive
generator: [posts_tag_index, pagination]
pagination:
    provider: page.tag_posts
    max_per_page: 100
---

{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/tags/{{ page.tag|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.tag }}' tag feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}{{ page.title }} "{{ page.tag }}"{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ site.url }}/">Home</a></li>
  <li><a href="{{ site.url }}/blog/">Archive</a></li>
  <li><a href="{{ site.url }}/blog/tags/">Tags</a></li>
  <li><a href="{{ site.url }}/blog/tags/{{ page.tag|url_encode(true) }}">{{ page.tag }}</a></li>
</ol>
<div class="page-header">
  <h1>{{ page.title }} <small><span class="label label-info">{{ page.tag }}</span></small></h1>
</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
<div>
    <ul class="pager">
        {% if page.pagination.previous_page %}
        <li class="previous"><a title="Previous Page" href="{{ site.url }}{{ page.pagination.previous_page.url }}">&larr; Previous Page</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">&larr; Previous Page</a></li>
        {% endif %}
        {% if page.pagination.next_page %}
        <li class="next"><a title="Next Page" href="{{ site.url }}{{ page.pagination.next_page.url }}">Next Page &rarr;</a></li>
        {% else %}
        <li class="next disabled"><a href="#">Next Page &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
<div class="panel panel-default">
    <ul class="list-group">
{% set year = '0' %}
{% for post in page.pagination.items %}
{% set this_year %}{{ post.date | date("Y") }}{% endset %}
{% if year != this_year %}
  {% set month = '0' %}
  {% set year = this_year %}
{% endif %}
{% set this_month %}{{ post.date | date("F") }}{% endset %}
{% if month != this_month %}
  {% set month = this_month %}
  <li class="list-group-item">{{ month }} {{ year }}</li>
{% endif %}
  <li class="list-group-item"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
    </ul>
    <div class="panel-footer">
        <a class="btn btn-default btn-xs" href="{{ site.url }}/blog/tags/{{ page.tag|url_encode(true) }}.xml" role="button">RSS Feed</a>
    </div>
</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
<div>
    <ul class="pager">
        {% if page.pagination.previous_page %}
        <li class="previous"><a title="Previous Page" href="{{ site.url }}{{ page.pagination.previous_page.url }}">&larr; Previous Page</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">&larr; Previous Page</a></li>
        {% endif %}
        {% if page.pagination.next_page %}
        <li class="next"><a title="Next Page" href="{{ site.url }}{{ page.pagination.next_page.url }}">Next Page &rarr;</a></li>
        {% else %}
        <li class="next disabled"><a href="#">Next Page &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock content %}
