<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="IjorTengab, ijortengab, programmer jalanan, ngoprek">
        <meta name="description" content="Blog dari Programmer Jalanan">
{% block head_meta %}
{% endblock %}
        <link href="{{ site.cdnjs.host }}/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ site.cdnjs.host }}/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
        <!link href="{{ site.cdnjs.host }}/ajax/libs/highlight.js/9.9.0/styles/github.min.css" rel="stylesheet">
        <link href="{{ site.cdnjs.host }}/ajax/libs/github-markdown-css/2.4.1/github-markdown.min.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script data-ad-client="ca-pub-1293461459055784" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        <style>
        /** quick fix because bootstrap <pre> has a background-color. */
        pre code { background-color: inherit; }
        </style>
        {% block head_styles %}{% endblock %}{% block head_scripts %}{% endblock %}
    </head>
    <body>
    {% include 'header.html' %}
   <div class="container">



    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}

    </div><!--/.container-fluid -->
    <script src="{{ site.cdnjs.host }}/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ site.cdnjs.host }}/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="{{ site.url }}/scripts/imagehosting.core.js"></script>
    <script src="{{ site.url }}/scripts/a2img.js"></script>    
    <script> a2img.init()</script>
    {% if site.cloudinary %}<script src="{{ site.cdnjs.host }}/ajax/libs/cloudinary-jquery-file-upload/2.1.9/cloudinary-jquery-file-upload.min.js"></script>
    <script src="{{ site.url }}/scripts/imagehosting.extend.cloudinary.js"></script>
    <script>$.cloudinary.config({ cloud_name: '{{site.cloudinary.cloud_name}}', api_key: '{{site.cloudinary.api_key}}'})</script>
    <script>new imageHosting.setProvider('cloudinary').init();</script>
    <script>
    $('img[cloudinary]').each(function () {
        var cloudinaryPath = this.attributes.cloudinary.value;
        var options = {}
        if (typeof this.attributes.width !=  'undefined') {
            options.width = this.attributes.width.value;
            options.crop = 'scale';
        }
        var $newImage = $.cloudinary.image(cloudinaryPath, options);
        // Copy attributes.
        $.each(this.attributes, function() {
            if (this.specified) {
                if (this.name != 'src' && this.name != 'cloudinary') {
                    $newImage.attr(this.name, this.value);
                }
            }
        });
        // Replace.
        $(this).replaceWith($newImage);
    });
    </script>    
    {% else %}<script>new imageHosting.setProvider('self').init();</script>
    {% endif %}

    {% block scripts %}
    {% endblock %}

    {% if site.google_analytics_tracking_id %}
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}


    {% block scripts_after %}
    {% endblock %}

    </body>
</html>
