---
layout: default
title: Posts Archive
generator: pagination
pagination:
    max_per_page: 100
use:
    - posts
---
<ol class="breadcrumb">
  <li><a href="{{ site.url }}/">Home</a></li>
  <li><a href="{{ site.url }}/blog/">Archive</a></li>
</ol>
<div class="page-header">
  <h1>{{ page.title }}{% if page.subtitle %} <small>{{ page.subtitle }}</small>{% endif %}</h1>
</div>
{% set year = '0' %}
{% if page.pagination.previous_page or page.pagination.next_page %}
<div>
    <ul class="pager">
        {% if page.pagination.previous_page %}
        <li class="previous"><a title="Previous Page" href="{{ site.url }}{{ page.pagination.previous_page.url }}">&larr; Previous Page</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">&larr; Previous Page</a></li>
        {% endif %}
        {% if page.pagination.next_page %}
        <li class="next"><a title="Next Page" href="{{ site.url }}{{ page.pagination.next_page.url }}">Next Page &rarr;</a></li>
        {% else %}
        <li class="next disabled"><a href="#">Next Page &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-sm btn-primary" href="{{ site.url }}/blog/categories/" role="button">Categories</a>
        <a class="btn btn-sm btn-primary" href="{{ site.url }}/blog/tags/" role="button">Tags</a>
    </div>

    <ul class="list-group">
{% for post in page.pagination.items %}
{% set this_year %}{{ post.date | date("Y") }}{% endset %}
{% if year != this_year %}
  {% set month = '0' %}
  {% set year = this_year %}
{% endif %}
{% set this_month %}{{ post.date | date("F") }}{% endset %}
{% if month != this_month %}
  {% set month = this_month %}
  <li class="list-group-item">{{ month }} {{ year }}</li>
{% endif %}
  <li class="list-group-item"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
    </ul>
</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
<div>
    <ul class="pager">
        {% if page.pagination.previous_page %}
        <li class="previous"><a title="Previous Page" href="{{ site.url }}{{ page.pagination.previous_page.url }}">&larr; Previous Page</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">&larr; Previous Page</a></li>
        {% endif %}
        {% if page.pagination.next_page %}
        <li class="next"><a title="Next Page" href="{{ site.url }}{{ page.pagination.next_page.url }}">Next Page &rarr;</a></li>
        {% else %}
        <li class="next disabled"><a href="#">Next Page &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
